.span{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.route{
    width: 40%;
    height: 25vh;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    .dots{
        display: flex;
        justify-content: space-between;
        width: 65%;
        position: relative;
        .line{
            position: absolute;
            left: 5%;
            height: 10px;
            background-color: #387AFB;
            top: 50px;
            z-index: 0;
            transition: width 0.5s ease; /* A ajuster selon besoin (rapidité de l'agrandissement de la barre */
        }
        .dot{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(255,255,255);
            margin-top: 30px;
            font-weight: bold;
            font-size: 2vw;
            z-index: 0;
        }
        .selected{
            background-color: #387AFB;
            width: 65px;
            height: 65px;
            color: white;
            font-size: 2.5vw;
            transform: translateY(-9px);
            box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);

        }
    }
}
.formContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding: 20px;
    margin-top: -120px;
    margin-bottom: 20px;
    background-color: #387AFB;
    border-radius: 7px;
    box-shadow: 3px 9px 12px rgba(0, 0, 0, 0.7);
    
    form{
        display: flex;
        flex-direction: column;
        label{
            display: flex;
            flex-direction: column;
        }
    }
    h2{
        color: white;
        text-align: center;
        font-size: 3vw;
        margin-bottom: 30px;
    }
    label{
        color: white;
        font-size: 1.6vw;
        margin-bottom: 40px;
    }
    input[type=text],input[type=number], input[type=email], input[type=tel], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Poppins;
        font-size: 1vw;
      }
      .next, .submit{
        width: 30%;
        padding: 12px 20px;
        border-radius: 4px;
        align-self: center;
        border: 2px solid transparent;
        font-family: Poppins;
        color: white;
        background-color: #4eca22;
        box-shadow: 0 7px 5px rgba(0,0,0,0.5);
        transition: all 0.2s ease-in;
        font-size: 1vw;
        font-weight: bold;
        margin-bottom: 30px;
        &:hover{
            border: 2px solid #fff;
            cursor: pointer;
        }
      }
      .backButton{
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        cursor: pointer;
      }
}

@media screen and (max-width: 956px){
    .formContainer{
        width: 50%;
        h2{
            font-size: 4vw;
        }
        label{
            font-size: 3vw;
            margin-bottom: 20px;
        }
        .next, .submit{
            width: 40%;
            font-size: 1.5vw;
        }
    }
    
}

@media screen and (max-width: 650px){
    .formContainer{
        width: 65%;
        h2{
            font-size: 7vw;
        }
        label{
            margin-bottom: 20px;
            font-size: 5vw;
        }
        .carLabel{
            font-size: 3vw;
        }
        .next, .submit{
            width: 40%;
            font-size: 3vw;
        }
    }
    .route{
        width: 90%;
        .dots{
            width: 90%;
            .dot{
                font-size: 4vw;
            }
        }
    }
}