.resultContainer {
  width: 100%;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s 3s forwards;
  gap: 30px;
}
.resultContainer .resultData {
  width: 35%;
  height: 90%;
  background-color: white;
  box-shadow: 3px 9px 12px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.resultContainer .resultData .resultDataContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resultContainer .resultData .resultDataContainer h2 {
  height: 10%;
  padding-top: 20px;
  font-size: 25px;
}
.resultContainer .resultData .resultDataContainer .list {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.resultContainer .resultData .resultDataContainer .list .details {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.resultContainer .resultData .resultDataContainer .list .details .detailsText {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultContainer .resultData .resultDataContainer .list .details .detailsText p, .resultContainer .resultData .resultDataContainer .list .details .detailsText h3 {
  align-self: center;
}
.resultContainer .resultData .resultDataContainer .list .details .detailsText p {
  font-size: 1.5vw;
  font-weight: bold;
}
.resultContainer .resultData .resultDataContainer .list .details .detailsText h3 {
  color: #3F91E8;
  font-size: 25px;
}
.resultContainer .resultData .resultDataContainer .list .details .resultImage {
  max-width: 25%;
}
.resultContainer .cardsContainer {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.resultContainer .cardsContainer .cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 31%;
  border-radius: 7px;
  box-shadow: 10px 9px 12px rgba(0, 0, 0, 0.3);
  background-color: white;
  transition: all 0.1s ease-out;
}
.resultContainer .cardsContainer .cards h3 {
  margin-top: 10px;
  font-size: 25px;
}
.resultContainer .cardsContainer .cards .cardsInfo {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.resultContainer .cardsContainer .cards .cardsInfo .info {
  width: 28%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.resultContainer .cardsContainer .cards .cardsInfo .info h4 {
  margin-bottom: 10px;
  font-size: 13px;
}
.resultContainer .cardsContainer .cards .cardsInfo .info p {
  font-size: 1.8vw;
  font-weight: bold;
}
.resultContainer .cardsContainer .cards .cardsInfo span {
  width: 4px;
  height: 50%;
  background-color: grey;
  border-radius: 10px;
  align-self: center;
}
.resultContainer .cardsContainer .selected {
  background-color: #3F91E8;
  animation: pulseCard 2s infinite;
  color: white;
}
.resultContainer .cardsContainer .selected p {
  color: #F9EB8A;
}
.resultContainer .cardsContainer .selected .cardsInfo span {
  background-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loading {
  position: fixed;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 999999;
  opacity: 1;
  animation: loading 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading h2 {
  align-self: center;
  justify-self: center;
  text-align: center;
}
.loading .gear img {
  margin-top: 20px;
  width: 100px;
  animation: loadingGear 3s infinite;
  transform: rotate(0deg);
}

@keyframes loading {
  0% {
    opacity: 1;
    z-index: 999999;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
    display: none;
  }
}
@keyframes loadingGear {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes pulseCard {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 150, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 150, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 150, 255, 0);
  }
}
@media screen and (max-width: 956px) {
  .resultContainer .cardsContainer .cards .cardsInfo .info h4 {
    font-size: 10px;
  }
  .resultContainer .cardsContainer .cards .cardsInfo .info p {
    font-size: 20px;
  }
  .resultContainer .cardsContainer .cards h3 {
    font-size: 20px;
  }
  .resultContainer .cardsContainer .cards {
    height: 27%;
  }
  .resultContainer .resultData .resultDataContainer h2 {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 770px) {
  .resultContainer {
    flex-direction: column;
    height: auto;
  }
  .resultContainer .resultData {
    margin-top: 50px;
    width: 90%;
    height: 50vh;
  }
  .resultContainer .resultData .resultDataContainer .list .details {
    justify-content: space-evenly;
  }
  .resultContainer .resultData .resultDataContainer .list .details .detailsText {
    width: 60%;
  }
  .resultContainer .resultData .resultDataContainer .list .details .resultImage {
    max-width: 18%;
  }
  .resultContainer .cardsContainer {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .resultContainer .cardsContainer .cards {
    height: 180px;
    margin-bottom: 50px;
  }
  .resultContainer .cardsContainer .cards .cardsInfo .info h4 {
    font-size: 1.3vw;
  }
  .resultContainer .cardsContainer .cards .cardsInfo .info h4 {
    font-size: 15px;
  }
  .resultContainer .resultData .resultDataContainer .list .details .detailsText p {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .resultContainer .resultData .resultDataContainer .list .details .resultImage {
    max-width: 28%;
  }
  .resultContainer .cardsContainer .cards .cardsInfo .info h4 {
    font-size: 10px;
  }
  .resultContainer .resultData .resultDataContainer .list .details .detailsText p {
    font-size: 15px;
  }
}/*# sourceMappingURL=results.css.map */