.resultContainer{
    width: 100%;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
    gap: 30px;
    .resultData{
        width: 35%;
        height: 90%;
        background-color: white;
        box-shadow: 3px 9px 12px rgba(0, 0, 0, 0.3);
        border-radius: 7px;
        .resultDataContainer{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
                height: 10%;
                margin-top: 10px;
            }
            .list{
                height: 90%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .details{
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    .detailsText{
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        p, h3{
                            align-self: center;
                        }
                        p{
                            font-size: 1.2vw;
                            font-weight: bold;
                        }
                        h3{
                            color: #3F91E8;
                            font-size: 1.4vw;
                        }
                    }
                    .resultImage{
                        max-width: 25%;
                    }
                }
            }
        }
    }
    .cardsContainer{
        width: 40%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        .cards{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 31%;
            border-radius: 7px;
            box-shadow: 10px 9px 12px rgba(0, 0, 0, 0.3);
            background-color: white;
            transition: all 0.1s ease-out;
            h3{
                margin-top: 10px;
                font-size: 1.6vw;
            }
            .cardsInfo{
                margin-top: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                .info{
                    width: 28%;
                    height: 100%;
                    text-align: center;
                    h4{
                        margin-bottom: 10px;
                        font-size: 0.8vw;
                    }
                    p{
                        font-size: 1.4vw;
                        font-weight: bold;
                    }
                }
                span{
                    width: 4px;
                    height: 80%;
                    background-color: grey;
                    border-radius: 10px;
                }
            }
        }
        .selected{
            background-color: #3F91E8;
            animation: pulseCard 2s infinite;
            color: white;
            p{
                color : #F9EB8A;
            }
            .cardsInfo{
                span{
                    background-color: white;
                }
            }
        }
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.loading{
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 999999;
    opacity: 1;
    animation: loading 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .gear{
        img{
            margin-top: 20px;
            width: 100px;
            animation : loadingGear 3s infinite;
            transform: rotate(0deg);
        }
    }
}
@keyframes loading {
    0%{
        opacity: 1;
        z-index: 999999;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -100;
        display: none;
        
    }
}
@keyframes loadingGear {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
@keyframes pulseCard {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 150, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 150, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 150, 255, 0);
    }
}